.sign-in-up-page {
  display: flex;
  justify-content: center;
  padding: 0 5vw;
  gap: 20vw;
}

// @media screen and (max-width: 800px) {
//   .sign-in-up-page {
//     display: flex;
//     justify-content: space-between;
//     padding: 0 5vw;
//     gap: 10vw;
//   }
// }
