.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  .logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100px;
    padding: 25px;

    & :nth-child(1) {
      transition: all 0.2s ease-in-out;
    }

    &:hover :nth-child(1) {
      fill: rgba(0, 0, 255, 0.593);
    }
  }

  .nav-links-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
      height: 30px;
    }
  }
}
